.character-list {
    font-family: Arial, sans-serif;
}

.characters-container {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.character-item {
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: center;
}

.character-block {
    display: flex;
    flex-direction: column;
}

.character-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10%;
    margin-bottom: 10px;
}

.character-info {
    text-align: left;
    margin-top: 10px;
}

